---
const {class: className} = Astro.props
---

<div class={"brand-thing " + className}>
  <div class="yellow"></div>
  <div class="red"></div>
  <div class="blue"></div>
  <div class="green"></div>
</div>

<style>
  .brand-thing {
    display: flex;
    height: 12px;
    align-items: center;
    gap: 4px;
  }

  .brand-thing div {
    border-radius: 2px;
    width: 12px;
    height: 100%;
  }

  .brand-thing .yellow {
    border-radius: 2px;
    background: var(--Primary, #ffd900);
    width: 24px;
  }

  .brand-thing .red {
    background: var(--Main-1, #ff7477);
  }
  .brand-thing .blue {
    background: var(--Main-2, #b4adea);
  }
  .brand-thing .green {
    background: var(--Main-3, #8cdfd6);
  }

  .brand-thing.small {
    height: 8px;
  }
  
  .brand-thing.small div {
    width: 8px;
  }


</style>
