---
import BrandThing from "./BrandThing.astro";
---

<div class="card-container">
  <div class="card / solid-shadow solid-shadow--card">
    <div class="logo">
      <span class="logoname">Doe</span>
      <div class="brandthingy-small">
        <BrandThing class={"small"} />
      </div>
      <div class="brandthingy-normal">
        <BrandThing />
      </div>
    </div>
    <span class="subtitle"> technical-centric product design </span>
  </div>
</div>

<style>
  .card-container {
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    background: rgba(255, 217, 0, 0.07);
  }

  .brandthingy-normal {
    display: none;
  }

  .card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Color-2, #fff);
  }

  .subtitle {
    color: var(--Main, #15171a);
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .logoname {
    color: var(--Main, #15171a);
    font-family: Outfit;
    font-size: 32px;
    font-weight: 900;
    line-height: 100%; /* 36px */
  }
  @media (width >= 80rem) {
    .card-container {
      padding: 32px;
      gap: 16px;
    }

    .card {
      padding: 32px 64px;
      gap: 8px;
    }

    .logoname {
      font-size: 64px;
    }

    .subtitle {
      font-size: 20px;
    }

    .brandthingy-normal {
      display: block;
    }

    .brandthingy-small {
      display: none;
    }
  }
</style>
