---
import BookACallButton from "./BookACallButton.astro";
---

<div class="floating-button">
  <BookACallButton/>
</div>

<style>
  .floating-button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 16px;
  }

  @media (width >= 64rem) {
    .floating-button {
      padding-right: 32px;
      padding-bottom: 32px;
    }
  }
</style>