---
import BookACallButton from "./BookACallButton.astro";
---

<div class="floating-button">
  <BookACallButton/>
</div>

<style>
  .floating-button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 20px;
  }

  @media (width >= 48rem) {
    .floating-button {
      padding-right: 32px;
      padding-bottom: 32px;
    }
  }
  @media (width >= 80rem) {
    .floating-button {
      padding-right: 64px;
      padding-bottom: 64px;
    }
  }

</style>