---
import BookACallButton from "./BookACallButton.astro";
import BrandCardContainer from "./BrandCardContainer.astro";
import BrandThing from "./BrandThing.astro";
---

<div id="hero">
  <div class="left">
    <div class="card-container-left">
      <BrandCardContainer />
    </div>
    <div class="intro">
      <p class="intro-text">
        <em class="bonjour">Bonjour<span class="ponctuation">,</span></em>
        <br />
        Kevin is a full-stack freelance product designer with 7 years of experience
        creating and designing best-in-class products<span class="ponctuation"
          >.</span
        >
      </p>
      <BrandThing />
    </div>
    <span class="tagline">
      Product design that bridges the gap between creative vision and technical
      challenges.
    </span>
  </div>
  <div class="right">
    <div class="card-container-right">
      <BrandCardContainer />
    </div>
    <div class="card-container-right">
      <BookACallButton />
    </div>
  </div>
</div>

<style>
  #hero {
    display: flex;
    padding: 0 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }

  .card-container-left {
    align-self: stretch;
  }

  .card-container-right {
    visibility: hidden;
    display: none;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }

  .intro {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .intro-text {
    align-self: stretch;
    color: var(--Main, #15171a);
    font-family: Outfit, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
  }

  .bonjour {
    color: var(--Main, #15171a);
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.8px;
  }

  .tagline {
    padding: 0px 16px;
    color: var(--Main, #15171a);
    font-family: Switzer, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%; /* 24px */
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }

  @media (width >= 48rem) {
    #hero {
      padding: 0px 40px;
      flex-direction: row;
    }
    
    .left {
      width: 400px;
      align-items: flex-start;
      gap: 20px;
    }

    
    .left .intro {
      width: 100%;
      gap: 8px;
    }

    .card-container-left {
      display: none;
      visibility: hidden;
    }

    .card-container-right {
      display: flex;
      visibility: visible;
    }

    
    .intro-text {
      font-size: 22px;
    }

    .bonjour {
      font-size: 36px;
    }

    .right {
      flex: 1 0 0;
      gap: 32px;
      justify-content: center;
    }

    .tagline {
      font-size: 18px;
      width: 100%;
    }
  }

  @media (width >= 80rem) {
    #hero {
      padding: 0px 80px;
    }
    
    .left {
      width: 700px;
      gap: 80px;
    }

    .left .intro {
      gap: 16px;
    }

    .intro-text {
      font-size: 32px;
    }

    .bonjour {
      font-size: 64px;
    }

    .right {
      flex: 1 0 0;
      gap: 32px;
      justify-content: center;
    }

    .tagline {
      width: 610px;
      font-size: 20px;
    }
  }


</style>
