---
import BookACallButton from "./BookACallButton.astro";
import BrandThing from "./BrandThing.astro";
---

<div id="hero">
  <div class="left">
    <div class="intro">
      <p class="intro-text">
        <em class="bonjour">Bonjour<span class="ponctuation">,</span></em>
        <br />
        Kevin is a full-stack freelance product designer with 7 years of experience
        creating and designing best-in-class products and services<span
          class="ponctuation">.</span
        >
      </p>
      <BrandThing />
    </div>
    <!-- brand thing -->
    <span class="tagline">
      Product design that bridges the gap between creative vision and technical
      challenges.
    </span>
  </div>
  <div class="right">
    <div class="container">
      <div class="card">
        <div class="logo">
          <span class="logoname">Doe</span>
          <BrandThing class={'small'}/>
        </div>
        <span class="subtitle"> technical-centric product design </span>
      </div>
    </div>
    <BookACallButton/>
  </div>
</div>

<style>
  #hero {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }

  .left {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .intro-text {
    align-self: stretch;
    color: var(--Main, #15171a);
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
  }

  .intro-text .bonjour {
    color: var(--Main, #15171a);
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.8px;
  }

  .tagline {
    color: var(--Main, #15171a);
    font-family: Switzer, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 24px */
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }

  .right .container {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    background: rgba(255, 217, 0, 0.07);
  }

  .container .card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-style: solid;
    border-radius: 8px;
    border-color: var(--Primary, #ffd900);
    border-width: 2px;
    border-bottom-width: 8px;
    background: var(--Color-2, #fff);
  }

  .card .subtitle {
    color: var(--Main, #15171a);
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
  }

  .card .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .logo .logoname {
    color: var(--Main, #15171a);
    font-family: Outfit;
    font-size: 36px;
    font-weight: 900;
    line-height: 100%; /* 36px */
  }
</style>
