---
import BookACallButton from "./BookACallButton.astro";
import BrandThing from "./BrandThing.astro";
---

<div class="testimonies">
  <div class="testy / rounded-container solid-shadow solid-shadow--responsive">
    <div class="container-text">
      <h2 class="container-title / testy-title">Eric, CPO @ <b>SESAMm</b></h2>
      <p class="container-description / testy-description">
        “J'ai eu l'occasion de travailler avec Kevin lors de la création d'un
        nouveau produit B2B disposant d'une interface Web. <br />
        Kevin a tout d'abord posé les bases de l'UX et l'UI, puis il a apporté des
        améliorations en continue avec l'arrivée de nouvelles fonctionnalités. Le
        travail que Kevin a accompli est apprécié aussi bien par les équipes internes
        que nos clients; les points forts étant l'ergonomie et le caractère intuitif
        des solutions mises en oeuvre.”
      </p>
    </div>
    <BrandThing />
  </div>
  <div class="right">
    <BrandThing />
    <div class="text">
      <span class="text-title"
        >Let’s talk about<span class="ponctuation">:</span></span
      >
      <ul>
        <li>designing a new product</li>
        <li>maintaining a design system</li>
        <li>easing communications between technical and creative teams</li>
        <li>your design needs and vision</li>
        <li>anything I can help you with</li>
      </ul>
    </div>
    <div class="button-container">
      <BookACallButton />
      <span class="free">
        It's fun, <b>and free.</b>
      </span>
    </div>
  </div>
</div>

<style>
  .testimonies {
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    background: rgba(255, 217, 0, 0.07);
  }

  .testy-title {
    font-size: 20px;
    font-weight: 500 !important;
  }

  .testy-title b {
    font-weight: bold;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    padding: 0 16px;
  }

  .text {
    color: var(--Main, #15171a);
    font-family: Outfit;
    font-size: 20px;
    font-weight: 500;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-title {
    font-size: 32px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 8px;
    line-height: 150%;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .free {
    color: #15171a;
    font-family: Switzer;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }
  .free b {
    font-weight: 700;
  }

  @media (width >= 64rem) {
    .testimonies {
      padding: 64px 128px;
      align-items: center;
      gap: 64px;
      flex-direction: row-reverse;
      justify-items: center;
    }

    .testy {
      display: flex;
      align-self: center;
      width: 680px;
      padding: 40px;
      gap: 32px;
      flex: 1 1 auto;
      height: auto;
    }

    .testy .container-text {
      gap: 20px;
    }

    .testy .testy-title {
      font-size: 32px;
    }

    .testy .testy-description {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 36px */
    }

    .right {
      gap: 32px;
      flex: 1 1 auto !important;
      align-self: stretch;
    }

    .right .text {
      font-size: 32px !important;
    }

    .right .text .text-title {
      font-size: 48px;
    }

    .button-container {
      gap: 16px;
    }
  }
</style>
