---
import BookACallButton from "./BookACallButton.astro";
import BrandThing from "./BrandThing.astro";

import Bourso from '../images/boursobank.png'
import SESAMm from '../images/sesamm.png'
import Bobine from '../images/bobine.png'
import Tankobon from '../images/tankobon.png'
import { Image } from "astro:assets";
---

<div class="testimonies">
  <div class="left">
    <div class="clients">
      <Image
        src={Bourso}
        alt="BoursoBank's logo"
      />
      <Image
        src={SESAMm}
        alt="SESAMm's logo"
      />
      <Image
        src={Bobine}
        alt="La Bobine's logo"
      />
      <Image
        src={Tankobon}
        alt="Tankobon's logo"
      />
    </div>
    <div class="testimonies-container">
      <div class="rounded-container solid-shadow">
        <div class="container-text">
          <p class="container-description">
            [...] Kevin a tout d'abord posé <b>les bases de l'UX et l'UI</b>,
            puis il a apporté des <b>améliorations en continu</b> avec l'arrivée
            de <b>nouvelles fonctionnalités</b> [...]
          </p>
        </div>
      </div>
      <div class="rounded-container solid-shadow">
        <div class="container-text">
          <p class="container-description">
            [...] Le travail que Kevin a accompli est apprécié aussi bien par
            les <b>équipes internes que nos clients</b> [...]
          </p>
        </div>
      </div>
      <div class="rounded-container solid-shadow">
        <div class="container-text">
          <p class="container-description">
            [...] les points forts étant <b>l'ergonomie</b> et le <b
              >caractère intuitif</b
            > des solutions [...]
          </p>
        </div>
      </div>
    </div>
    <div class="testimonies-end">
      <span class="testimonies-good">You are in good hands.</span>
      <BrandThing/>
    </div>
  </div>
  <div class="right">
    <div class="text">
      <span class="text-title"
        >Let’s talk about<span class="ponctuation">:</span></span
      >
      <ul>
        <li>designing a new product</li>
        <li>maintaining a design system</li>
        <li>easing communications between technical and creative teams</li>
        <li>your design needs and vision</li>
        <li>anything I can help you with</li>
      </ul>
    </div>
    <div class="button-container">
      <BookACallButton />
      <span class="free">
        It's fun, <b>and free.</b>
      </span>
    </div>
  </div>
</div>

<style>
  .testimonies {
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    background: rgba(255, 217, 0, 0.07);
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
  }

  .testimonies-container {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 20px;
  }

  .testimonies-container .solid-shadow {
    box-shadow:
      0px 5px 0px 3px var(--Main, #15171a),
      0px 0px 0px 3px var(--Main, #15171a);
  }


  .testimonies-container .rounded-container {
    padding: 8px;
    border-radius: 8px;
  }
  
  .testimonies-container .rounded-container:nth-child(1) {
    width: 360px;
    max-width: 100%;
    box-shadow:
      0px 5px 0px 3px #FF7477,
      0px 0px 0px 3px #FF7477;
  }

  .testimonies-container .rounded-container:nth-child(2) {
    width: 260px;
    align-self: flex-end;
    box-shadow:
      0px 5px 0px 3px #B4ADEA,
      0px 0px 0px 3px #B4ADEA;
  }

  .testimonies-container .rounded-container:nth-child(3) {
    width: 220px;
    margin-left: 32px;
    box-shadow:
      0px 5px 0px 3px #8CDFD6,
      0px 0px 0px 3px #8CDFD6;
  }

  .testimonies-container p {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }

  .testimonies-container p b {
    font-weight: bold;
  }

  .clients {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  .clients img {
    height: 12px;
    width: auto;
  }

  .testimonies-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #15171A;
    font-family: Switzer;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
  }

  .text {
    color: var(--Main, #15171a);
    font-family: Outfit;
    font-size: 20px;
    font-weight: 500;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-title {
    font-size: 32px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 8px;
    line-height: 150%;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .free {
    color: #15171a;
    font-family: Switzer;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }
  .free b {
    font-weight: 700;
  }

  @media (width >= 64rem) {
    .testimonies {
      padding: 64px 128px;
      align-items: center;
      gap: 64px;
      flex-direction: row-reverse;
      justify-items: center;
    }

    .testy {
      display: flex;
      align-self: center;
      width: 680px;
      padding: 40px;
      gap: 32px;
      flex: 1 1 auto;
      height: auto;
    }

    .testy .container-text {
      gap: 20px;
    }

    .testy .testy-title {
      font-size: 32px;
    }

    .testy .testy-description {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 36px */
    }

    .right {
      gap: 32px;
      flex: 1 1 auto !important;
      align-self: stretch;
    }

    .right .text {
      font-size: 24px !important;
    }

    .right .text .text-title {
      font-size: 36px;
    }

    .button-container {
      gap: 16px;
    }

    .left {
      gap: 32px;
      flex: 0 1 740px;
    }

    .clients {
      gap: 32px
    }

    .clients img {
      height: 16px;
    }

    .testimonies-container p {
      font-size: 20px;
    }

    .testimonies-container {
      gap: 32px;
      padding: 0;
    }

    .testimonies-container .rounded-container {
      padding: 16px;
      border-radius: 16px;
    }
    
    .testimonies-container .rounded-container:nth-child(1) {
      width: 640px;
      max-width: 100%;
      box-shadow:
        0px 6px 0px 3px #FF7477,
        0px 0px 0px 3px #FF7477 !important;
    }

    .testimonies-container .rounded-container:nth-child(2) {
      width: 525px;
      align-self: flex-end;
      box-shadow:
        0px 6px 0px 3px #B4ADEA,
        0px 0px 0px 3px #B4ADEA !important;
    }

    .testimonies-container .rounded-container:nth-child(3) {
      width: 480px;
      margin-left: 32px;
      box-shadow:
        0px 6px 0px 3px #8CDFD6,
        0px 0px 0px 3px #8CDFD6 !important;
    }

    .testimonies-end {
      font-size: 16px;
    }
  }
</style>
