---
import { getCollection } from "astro:content";
import Work from "./Work.astro";
import WorkSeparator from "./WorkSeparator.astro";

const workList = await getCollection("workList");
---

<div class="work-list">
  {
    workList.map((work) => (
      <>
        <Work 
        data={work.data}
        />
        <WorkSeparator />
      </>
    ))
  }
</div>

<style>
  .work-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: -32px;
  }
</style>
