<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kevin Pfeffer - freelance product designer, UX/UI designer</title>
  </head>
  <body>
    <div id="content">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  /* http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
	*/
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
</style>

<style is:global>
  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Black.woff"), format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Medium.woff"), format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Switzer";
    src: url("/fonts/Switzer-Bold.woff"), format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Switzer";
    src: url("/fonts/Switzer-Regular.woff"), format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  .rounded-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--Main, #15171a);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 8px;
    border-left-width: 3px;
    background: #fff;
  }

  
  .rounded-container .container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .rounded-container .container-title {
    font-family: Outfit;
    font-size: 24px;
    font-weight: 900;
  }

  .rounded-container .container-description {
    font-family: Switzer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    align-self: stretch;
  }

  .ponctuation {
    color: var(--Primary, #ffd900);
    font-weight: 900;
  }
</style>
<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  #content {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
  }
  #content::before {
    content: " ";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Primary, #ffd900);
    opacity: 0.05;
    z-index: -1;
  }
</style>
