<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Kevin P., freelance product designer &amp; UX/UI designer</title>
    <meta
      name="description"
      content="Kevin is a full-stack freelance product designer with 7 years of experience creating and designing best-in-class products."
    />

    <!-- Google / Search Engine Tags -->
    <meta
      itemprop="name"
      content="Kevin P., freelance product designer & UX/UI designer"
    />
    <meta
      itemprop="description"
      content="Kevin is a full-stack freelance product designer with 7 years of experience creating and designing best-in-class products."
    />
    <meta itemprop="image" content="/banner.png" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://design.doe.cool/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Kevin P., freelance product designer & UX/UI designer"
    />
    <meta
      property="og:description"
      content="Kevin is a full-stack freelance product designer with 7 years of experience creating and designing best-in-class products."
    />
    <meta property="og:image" content="/banner.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Kevin P., freelance product designer & UX/UI designer"
    />
    <meta
      name="twitter:description"
      content="Kevin is a full-stack freelance product designer with 7 years of experience creating and designing best-in-class products."
    />
    <meta name="twitter:image" content="/banner.png" />
  </head>
  <body>
    <div id="content">
      <slot />
    </div>
  </body>
  <!-- Cal element-click embed code begins -->
  <script type="text/javascript">
    (function (C, A, L) {
      let p = function (a, ar) {
        a.q.push(ar);
      };
      let d = C.document;
      C.Cal =
        C.Cal ||
        function () {
          let cal = C.Cal;
          let ar = arguments;
          if (!cal.loaded) {
            cal.ns = {};
            cal.q = cal.q || [];
            d.head.appendChild(d.createElement("script")).src = A;
            cal.loaded = true;
          }
          if (ar[0] === L) {
            const api = function () {
              p(api, arguments);
            };
            const namespace = ar[1];
            api.q = api.q || [];
            if (typeof namespace === "string") {
              cal.ns[namespace] = cal.ns[namespace] || api;
              p(cal.ns[namespace], ar);
              p(cal, ["initNamespace", namespace]);
            } else p(cal, ar);
            return;
          }
          p(cal, ar);
        };
    })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init", "discussion-design", { origin: "https://cal.com" });

    // Important: Please add the following attributes to the element that should trigger the calendar to open upon clicking.
    // `data-cal-link="mohndoe/discussion-design"`
    // data-cal-namespace="discussion-design"
    // `data-cal-config='{"layout":"month_view","theme":"auto"}'`

    Cal.ns["discussion-design"]("ui", {
      cssVarsPerTheme: {
        light: { "cal-brand": "#ffee91" },
        dark: { "cal-brand": "#ffd900" },
      },
      hideEventTypeDetails: false,
      layout: "month_view",
    });
  </script>
  <!-- Cal element-click embed code ends -->
</html>

<style is:global>
  /* http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
	*/
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
</style>

<style is:global>
  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Black.woff"), format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Medium.woff"), format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Switzer";
    src: url("/fonts/Switzer-Bold.woff"), format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Switzer";
    src: url("/fonts/Switzer-Regular.woff"), format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  .rounded-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    background: #fff;
    border-radius: 8px;
  }

  .solid-shadow {
    box-shadow:
      0px 6px 0px 3px var(--Main, #15171a),
      0px 0px 0px 3px var(--Main, #15171a);
  }

  .solid-shadow--card {
    box-shadow:
      0px 6px 0px 3px var(--Primary, #ffd900),
      0px 0px 0px 3px var(--Primary, #ffd900);
  }

  @media (width >= 48rem) {
    .solid-shadow--responsive {
      box-shadow:
        0px 8px 0px 4px var(--Main, #15171a),
        0px 0px 0px 4px var(--Main, #15171a);
    }
  }

  @media (width >= 80rem) {
    .solid-shadow--responsive {
      box-shadow:
        0px 10px 0px 6px var(--Main, #15171a),
        0px 0px 0px 6px var(--Main, #15171a);
    }

    .solid-shadow--card {
      box-shadow:
        0px 8px 0px 4px var(--Primary, #ffd900),
        0px 0px 0px 4px var(--Primary, #ffd900);
    }
  }

  .solid-shadow--interactive:hover {
    box-shadow:
      0px 8px 0px 2px #30353b,
      0px 0px 0px 2px #30353b;
  }

  .rounded-container .container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .rounded-container .container-title {
    font-family: Outfit;
    font-size: 24px;
    font-weight: 900;
  }

  .rounded-container .container-description {
    font-family: Switzer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    align-self: stretch;
  }

  .ponctuation {
    color: var(--Primary, #ffd900);
    font-weight: 900;
  }
</style>
<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  #content {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  #content::before {
    content: " ";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Primary, #ffd900);
    opacity: 0.05;
    z-index: -1;
  }

  @media (width >= 48rem) {
    #content {
      padding: 40px 0;
      gap: 64px;
    }
  }
  @media (width >= 80rem) {
    #content {
      padding: 80px 0;
      gap: 64px;
    }
  }
</style>
